@charset "utf-8";

/*
=========================================
	Modules（Block）
=========================================
*/


/* bookPage
--------------------*/
.clearfix:after {
	display: block;
	content: "";
	clear: left;
}

div#book_img {
	display: block;
	float: left;
	width: 32.608670%;
	height: 300px;
	margin-left: 3%;
	margin-right: 2%;
}

div img {
	width: 100%;
	max-width: 240px;
	height: 100%;
/*	border: 1px solid black;*/
}

div#book_msg {
	display: block;
	float: left;
	width: 58.695650%;
	height: 300px;
	overflow: hidden;
	margin-right: 3%;
/*	border: 1px solid black;*/
}

article#book {
	margin-bottom: 40px;
}

@media screen and (max-width: 330px) {
	div img {
		height: 120px;
	}
	div#book_img,
	div#book_msg {
		height: 130px;
	}
}

@media screen and (min-width: 331px) and (max-width: 500px) {
	div img {
		height: 180px;
	}
	div#book_img {
		height: 180px;
	}
}

@media screen and (min-width: 501px) and (max-width: 640px) {
	div img {
		height: 240px;
	}
	div#book_img,
	div#book_msg {
	}
}

@media screen and (min-width: 641px) {
	div img {
		height: 300px;
	}
	div#book_img,
	div#book_msg {

	}
}

/* comments */
article#comment {
	width: 100%;
	border-top: 1px solid #70996a;
	padding-top: 40px;
}

div.comment {
	margin-bottom: 20px;
}

div.icon {
	display: block;
	float: left;
	width: 64px;
	height: 90px;
}

div.icon img {
	width: 36px;
	height: 36px;
	margin: 14px 14px 5px;
	border-radius: 50%;
}

div.msg {
	display: block;
	float: left;
	min-width: 50px;
	padding: 14px 14px 0;
	box-sizing: border-box;
}

/*20170125 追記*/
div#content {
	display: block;
	padding: 5px;
	position: relative;
	background: #ffefd5;
	border: 1.5px solid #70996a;
}
div#content p:after, div#content:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

div#content:after {
	border-color: rgba(245, 222, 179, 0);
	border-right-color: #ffefd5;
	border-width: 7px;
	margin-top: -7px;
}
div#content:before {
	border-color: rgba(0, 0, 0, 0);
	border-right-color: #006638;
	border-width: 8px;
	margin-top: -8px;
}

div.icon p {
	text-align: center;
}

p#content_body {
	margin: 0;
	padding: 0 0 3px 0;
	border-bottom: 1px dotted #70996a;
}

p#content_time {
	font-size: 12px;
	margin: 0;
	text-align: right;
}

form#comment_form textarea{
	width: 90%;
	padding: 3px 5px;
	margin: 0 auto;
	margin-bottom: 20px; 
	border-radius: 3px;
}

@media screen and (min-width: 940px){
	div.comment {
		height: 136px;
	}

	div.icon {
		width: 120px;
		height: 136px;
	}

	div.msg {
		height: 136px;
	}

	div.icon img {
		width: 80px;
		height: 80px;
		margin: 20px 20px 5px
	}

	div.msg p {
		margin-top: 20px;
	}
}

/*footer
--------------------*/
footer {
	clear: both;
}

/* myPage
--------------------*/
footer h3 {
	text-align: center;
	color: #544745;
	font-size: 24px;
}

footer #footer_info {
	background-color: rgb(170, 170, 170);
	padding-top: 30px;
	color: #fff;
}

div#footer_bottom {
	background-color: #006638;
	color: rgb(170, 170, 170);
	text-align: center;
}

@media screen and (min-width: 639px){
	div#info_img {
		float: left;
		width: 35%;
		margin-right: 5%;
	}

	div#info_dtl {
		float: right;
		width: 60%;
	}
}

/* footer_nav */
div#footer_nav {
	width: 100%;
	background: #70996a;
}

div#footer_nav_logo {
	display: block;
	width: 80%;
	margin: 0 auto;
}

div#footer_nav_nav {
	display: block;
	width: 80%;
	margin: 0 auto;
}

div#footer_nav ul {
	text-align: center;
}

div#footer_nav li{
	display: inline-block;
	color: #dadada;
	margin-right: 5px;
}

div#footer_nav li
	a {
		color: #dadada;
	}

div#footer_nav li
	a:hover {
		text-decoration: underline;
	}

@media screen and (min-width: 500px){
	div#footer_nav_logo {
		float: left;
		width: 34.782608%;
		height: 40px;
		margin-top: 10px;
	}
	div#footer_nav_nav {
		float: left;
		width: 65.2173910%;
		margin-top: 15px;
	}
	div#footer_nav_nav:after,
	div#footer_nav_logo:after {
		display: block;
		content: "";
		clear: both;
	}
}
