@charset "utf-8";

/*
=========================================
	Modules（Block）
=========================================
*/


/* bookPage
--------------------*/
.clearfix:after {
	display: block;
	content: "";
	clear: left;
}

div#book_img {
	display: block;
	float: left;
	width: 32.608670%;
	height: 300px;
	margin-left: 3%;
	margin-right: 2%;
}

div img {
	width: 100%;
	max-width: 240px;
	height: 100%;
/*	border: 1px solid black;*/
}

div#book_msg {
	display: block;
	float: left;
	width: 58.695650%;
	height: 300px;
	overflow: hidden;
	margin-right: 3%;
/*	border: 1px solid black;*/
}

article#book {
	margin-bottom: 40px;
}

@media screen and (max-width: 330px) {
	div img {
		height: 120px;
	}
	div#book_img,
	div#book_msg {

	}
}

@media screen and (min-width: 331px) and (max-width: 500px) {
	div img {
		height: 180px;
	}
	div#book_img,
	div#book_msg {
	}
}

@media screen and (min-width: 501px) and (max-width: 640px) {
	div img {
		height: 240px;
	}
	div#book_img,
	div#book_msg {
	}
}

@media screen and (min-width: 641px) {
	div img {
		height: 300px;
	}
	div#book_img,
	div#book_msg {

	}
}

/* comments */
article#comment {
	width: 100%;
	border-top: 1px solid #70996a;
	padding-top: 40px;
}

div.comment {
	margin-bottom: 20px;
}

div.icon {
	display: block;
	float: left;
	width: 64px;
	height: 90px;
}

div.icon img {
	width: 36px;
	height: 36px;
	margin: 14px 14px 5px;
	border-radius: 50%;
}

div.msg {
	display: block;
	float: left;
	height: 90px;
	min-width: 50px;
	overflow: hidden;
	padding: 14px 14px 0;
	box-sizing: border-box;
}

div.icon p {
	text-align: center;
}

/*footer
--------------------*/
footer {
	clear: both;
}

/* myPage
--------------------*/
footer h3 {
	text-align: center;
	color: #544745;
	font-size: 24px;
}

footer #footer_info {
	background-color: rgb(170, 170, 170);
	padding-top: 30px;
	color: #fff;
}

div#footer_bottom {
	background-color: #006638;
	color: rgb(170, 170, 170);
	text-align: center;
}

@media screen and (min-width: 639px){
	div#info_img {
		float: left;
		width: 35%;
		margin-right: 5%;
	}

	div#info_dtl {
		float: right;
		width: 60%;
	}
}

/* footer_nav */
div#footer_nav {
	width: 100%;
	background: #70996a;
}

div#footer_nav_logo {
	display: block;
	width: 80%;
	margin: 0 auto;
}

div#footer_nav_nav {
	display: block;
	width: 80%;
	margin: 0 auto;
}

div#footer_nav ul {
	text-align: center;
}

div#footer_nav li{
	display: inline-block;
	color: #dadada;
	margin-right: 5px;
}

div#footer_nav li
	a {
		color: #dadada;
	}

div#footer_nav li
	a:hover {
		text-decoration: underline;
	}

@media screen and (min-width: 500px){
	div#footer_nav_logo {
		float: left;
		width: 34.782608%;
		height: 40px;
		margin-top: 10px;
	}
	div#footer_nav_nav {
		float: left;
		width: 65.2173910%;
		margin-top: 15px;
	}
	div#footer_nav_nav:after,
	div#footer_nav_logo:after {
		display: block;
		content: "";
		clear: both;
	}
}
